<div>
  <h2>Basic Form</h2>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="First Name" id="firstName" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Last Name" id="lastName" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <select matNativeControl id="state" placeholder="State" formControlName="state">
        <option *ngFor="let state of states">
          {{state.name}}
        </option>
      </select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>

  </form>
</div>
